<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #bdbdbd;">        
        {% if user.username %}
            <div>
                <a class="navbar-brand btn" href="{% url 'index' %}"> App </a>
            </div>
        
            <div>
                <a href="{% url 'logout' %}" class="navbar-brand btn btn-secondary">Logout</a>    
            </div>
        {% else %}
            <a class="navbar-brand btn" href="{% url 'index' %}"> App </a>
            <div>
                <a href="{% url 'login' %}" class="navbar-brand btn btn-success">Login</a>    
            </div>
        {% endif %}

    </nav>

    <div class="container">
        {% block contenido %}


        {% endblock %}
    </div>

    <!-- Bootstrap -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/personal.js' %}"></script>
</body>
</html>